{% extends 'base.html' %}

{% block title %}Document Activity{% endblock %}

{% block content %}
<h2 class="mt-4">Document Activity</h2>
<table class="table table-bordered table-striped mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Obligation Number</th>
            <th scope="col">Payee</th>
            <th scope="col">Action</th>
            <th scope="col">Performed By</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in activities %}
        <tr>
            <td>{{ activity.document.obligation_number }}</td>
            <td>{{ activity.document.payee }}</td>
            <td>{{ activity.action }}</td>
            <td>{{ activity.performed_by.username }}</td>
            <td>{{ activity.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
