{% load static %}
<style>
.brand-description {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.65rem;
        text-transform: capitalize;
        margin-bottom: 4px;
}
</style>

<div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-file-alt"></i>
                </div>
                <div class="sidebar-brand-text mx-1">
                    DocTrack
                    <p class="small brand-description">document tracking system</p>
                </div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'document_search' %}">
                    <i class="fas fa-fw fa-search"></i>
                    <span>Search Document</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'document_list' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Document List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'document_create' %}">
                    <i class="fas fa-fw fa-plus-circle"></i>
                    <span>Document Form</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'document_activity' %}">
                    <i class="fas fa-fw fa-history"></i>
                    <span>Document Activity</span>
                </a>
            </li>

            <hr class="sidebar-divider">
        </ul>
</div>